*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #1c1919;
}
.container{
    margin:0 30px;
}
.gameBallon .container{
    display: flex;
    height: 600px;
}
.gameBallon .part{
    flex-basis: 50%;
}
nav .container{
    display: flex;
    padding:10px 60px;
    background-color: black;
    justify-content: space-between;
}
nav .logo img{
    width: 60px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 20px;
}
nav ul li {
    text-decoration: none;
}
.gameBallon .part:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameBallon .part:nth-of-type(1) img{
    width: 70%;
}
.gameBallon .part:nth-of-type(2){
    overflow: hidden;
    position: relative;
}
.gameBallon .part:nth-of-type(2)::before{
    content: "My Games";
    color: #089ae3;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 4vw;
    text-shadow: 0 0 4px #0978d9;
}

.gameBallon .part:nth-of-type(2)::after{
    content: "";
    width: 98%;
    height: 98%;
    transform: translate(0px,-2px);
    position: absolute;
    top: 0;
    left: 0;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right, #4e013a 0%,rgb(2, 52, 105) 40%,rgb(180, 196, 4) 80%, rgb(86, 2, 2) 100%) 1;
}
.gameBallon .part:nth-of-type(1)::before{
    content: "";
    width: 98%;
    height: 98%;
    position: absolute;
    transform: translate(0px,-2px);
    top: 0;
    left: 0;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right, #ff00bf 0%,rgb(7, 113, 226) 40%,rgb(223, 243, 11) 80%, rgb(111, 4, 4) 100%) 1;
}
.lolo{
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin: auto;
}
.gameBallon .part:nth-of-type(2)>span{
    --colorBallon:rgb(255, 255, 255);
    --start:0;
    --end:100%;
    position: absolute;
    bottom: -20%;
    right: calc(var(--end) - 50%);
    width: 0;
    height: 0;
    border-radius: 50% 50% 0px 77px;
    border-width:80px 60px;
    animation: ballon 3s forwards 1;
    border-style: solid;
    border-color: var(--colorBallon);
}
.gameBallon .part:nth-of-type(2)>span span{
    position: absolute;
    width: 60px;
    left: 100%;
    top: 0;
    transform: translate(43%,81%) rotate(-45deg);
    height: 80px;
    transform-origin: right;
    border-radius: 4%;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: var(--colorBallon);
}
@keyframes ballon {
    to{
        bottom: 120%;
        right: var(--end);
    }
}
.gameBallon .container .part:nth-of-type(1){
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(221, 236, 13);
    position: relative;
    gap: 70px;
}
.gameBallon .container .part:nth-of-type(1) .games{
    display: flex;
    color: #e2e2e2e7;
}
.gameBallon .container .part:nth-of-type(1) .games .game{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.gameBallon .container .part:nth-of-type(1) .games .game a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameBallon .container .part:nth-of-type(1) .games .game a img{
    border: 4px solid #089ae3;
}

/* clock section */
.clock .parent{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bright {
    width: 200px;
    height: 200px;
    background-color: rgb(209 61 226 / 68%);
    filter: blur(50px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.back{
    /* background-color: rgb(197, 103, 240); */
    height: 220px;
    filter: blur(5%);
    width: 220px;
    margin: auto;
    background-image: conic-gradient(#ff00aa 20%,#c001b3 40%, #540049 80%,#4e013c 93%,#ff00aa 100%);
    position: relative;
    border-radius: 50%;
    margin-top: calc(50vh - 110px);
}
.front{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.span1{
    height: 5px;
    width: 60px;
    background-color: rgba(231, 88, 88, 0.868);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left top;
}
.span2{
    height: 4px;
    width: 70px;
    background-color: rgba(86, 193, 134, 0.837);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left top;
}
.span3{
    height: 3px;
    width: 80px;
    background-color: rgba(71, 165, 215, 0.622);
    top: 50%;
    left: 50%;
    transform-origin: left top;
    z-index: 1;
    position: absolute;
}
.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    left: 50%;
    background-color: black;
    z-index: 1;
    position: absolute;
}
#hour3{
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 0%;
    color: #0257a0;
    transform: translate(-100%,-50%);
}
#hour6{
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #0257a0;
    transform: translate(-50%,-50%);
}
#hour9{
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0;
    color: #0257a0;
    transform: translate(100%,-50%);
}
#hour12{
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    color: #0257a0;
    transform: translate(-50%,50%);
}
.hour{
    background-color: #0257a0;
    position: absolute;
    height: 15px;
    width: 3px;
}
#hour1,#hour2,#hour4,#hour5,#hour7,#hour8,#hour10,#hour11{
    height: 3px;
    width: 74px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    border-right: 15px solid #0257a0;
    left: 50%;
    transform-origin: left top;
}
#hour1{
    transform: rotate(-60deg) translate(0%,-50%);
}
#hour2{
    transform: rotate(-30deg) translate(0%,-50%);
}
#hour4{
    transform: rotate(30deg) translate(0%,-50%);
}
#hour5{
    transform: rotate(60deg) translate(0%,-50%);
}
#hour7{
    transform: rotate(120deg) translate(0%,-50%) ;
}
#hour8{
    transform: rotate(150deg) translate(0%,-50%) ;
}
#hour10{
    transform: rotate(210deg) translate(0%,-50%) ;
}
#hour11{
    transform: rotate(240deg) translate(0%,-50%) ;
}

/*  */